<div class="main-content" >
  <div style="heigh:20% , width:80%">
    <div class="container-fluid" style="width:90%">
      <div class="col-md-16">
        <div class="card card-plain">
          <div class="card-header card-header-info">
            <h4 class="card-title mt-0"> List Of Persons </h4>
            <p class="card-category"> </p>
          </div>
          <div class="card-body">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="Clients List">
                <br>
                <div class="card-body">

                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="">
                      <th>
                        First Name
                      </th>
                      <th>
                        Second Name
                      </th>
                      <th> Edit</th>
                      <th> Delete</th>

                      <tr >
                        <td></td>
                        <td></td>
                        <td> <button mat-raised-button type="button"  atTooltip="voir details" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="openDialog2(a)">
                          <i class="material-icons">edit</i>
                        </button></td>
                        <td> <button mat-raised-button type="button"  atTooltip="voir details" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="openDialog2(a)">
                          <i class="material-icons">Delete</i>
                        </button></td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let person of persons | async">

                      </tbody>
                    </table>
                  </div>



                </div>
              </mat-tab>

              <mat-tab label="New Client">
                <br>

              </mat-tab>

            </mat-tab-group>

          </div>
          <hr>

        </div>

      </div>

    </div></div>



</div>
