<div class="main-content">
    <div style="heigh:20% , width:80%">
        <div class="container-fluid" style="width:90%">


            <div class="col-md-16">
                <mat-form-field>
                    <mat-label>Select year and month</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    (monthSelected)="chosenMonthAndYear($event,$event, dp)"
                                    panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
                <div class="card card-plain">
                    <div class="card-header card-header-info">
                        <h4 class="card-title mt-0">Report</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table style="text-align: center" class="table" id="table">

                                <tr>
                                    <th>
                                        Projects/Persons
                                    </th>
                                    <th *ngFor="let myperson of personListView">
                                        {{myperson.firstName}} {{myperson.lastName}}
                                    </th>
                                    <th>Total</th>
                                </tr>
                                <tr *ngFor="let data of dataset">

                                    <th>
                                        {{data.project.project}}
                                    </th>
                                    <td *ngFor="let myperson of data.persons">
                                        {{ myperson.worked + " j -- " + myperson.price + "€"}}
                                    </td>
                                    <td>
                                        {{data.project.totalByProject + "€"}}
                                    </td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
