<ng-template #cellTemplate let-day="day" let-locale="locale">

    <div class="separatedDay" style="height: 100%">

        <div id="numberOfDay">
            <p class="cal-day-number" style="pointer-events: none"
               (mouseenter)="hover($event)" (mouseleave)="hover($event)"
               [ngStyle]="{'opacity':'100'}">
                {{ day.date | calendarDate:'monthViewDayNumber':locale }}
            </p>
        </div>

        <div id="halfDays">
            <div class="half-day"
                 id="{{day.date.getMonth()}}/{{day.date.getUTCDate()+1}}/{{day.date.getUTCFullYear()}}-AM">
                <div class="case-half-day" *ngIf="getInterventionOfPeriod(day.date, 'AM').length > 0 else elseBlockAM"
                     (mwlClick)="selectDay(day.date, 'AM', $event)">
                    <span class="projectName" *ngFor="let int of getInterventionOfPeriod(day.date, 'AM')">
                        {{int.person.firstName}} {{int.person.lastName}}
                    </span>
                </div>
                <ng-template #elseBlockAM class="case-half-day" >
                    <div (click)="selectDay(day.date, 'AM', $event)">
                        <span class="projectName">
                        INSERT SOMETHING HERE
                    </span>
                    </div>
                </ng-template>
            </div>
            <div class="half-day"
                 id="{{day.date.getMonth()}}/{{day.date.getUTCDate()+1}}/{{day.date.getUTCFullYear()}}-PM">
                <div class="case-half-day" *ngIf="getInterventionOfPeriod(day.date, 'PM').length > 0 else elseBlockPM"
                     (mwlClick)="selectDay(day.date, 'PM', $event)">
                    <span class="projectName" *ngFor="let int of getInterventionOfPeriod(day.date, 'PM')">
                        {{int.person.firstName}} {{int.person.lastName}}
                    </span>
                </div>
                <ng-template #elseBlockPM class="case-half-day" (mwlClick)="selectDay(day.date, 'PM', $event)">
                    <div (click)="selectDay(day.date, 'PM', $event)">
                        <span class="projectName">
                        INSERT SOMETHING HERE
                    </span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #weekDayTemplate let-days="days" let-locale="locale">
    <div class="cal-day-headers cursor-default">
        <div
                class="cal-header"
                *ngFor="let day of days"
                [class.cal-past]="day.isPast"
                [class.cal-future]="day.isFuture"
                [class.cal-drag-over]="day.dragOver">
            <div class="top separatedDay" [class.today]="day.isToday">
                <div class="day-label text-uppercase">
                    {{ day.date | calendarDate:'monthViewColumnHeader':locale }}
                </div>

            </div>
        </div>
    </div>
</ng-template>

<div class="center">
    <h3>{{configTime.month}} {{configTime.year}} </h3>
    <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [viewDate]="viewDate"
            (viewDateChange)="refreshCalendar(configTime, '-')"
    >
        Previous
    </div>
    <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [viewDate]="viewDate"
            (viewDateChange)="refreshCalendar(configTime, '=' )"
    >
        Today
    </div>
    <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [viewDate]="viewDate"
            (viewDateChange)="refreshCalendar(configTime, '+')"
    >
        Next
    </div>
    <mwl-calendar-month-view
            [weekStartsOn]="1"
            [viewDate]="viewDate"
            [refresh]="refresh"
            [cellTemplate]="cellTemplate"
            [headerTemplate]="weekDayTemplate"
            id="mwl-calendar"
            class="calendar">

    </mwl-calendar-month-view>
</div>



