<h2 mat-dialog-title> Intervention Details </h2>
<mat-dialog-content class="mat-typography">
<h3>Person : {{data.person.firstName}} {{data.person.lastName}}</h3>
  <h3>Manager :{{data.person.manager.firstName}} {{data.person.manager.lastName}}</h3>
 <h3>Project : {{data.project.projectName}}</h3>
    <h3> Total Worked Days :{{worked}}</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="">
            <th>
              Date
            </th>
            <th>
                Mode
            </th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr *ngFor="let intervention of interventionsByPerson" >
                <td>{{intervention.date}}</td>
                <td>{{intervention.mode}}</td>
                <td>  <button mat-raised-button type="button"  atTooltip="voir details" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="deletIntervention(intervention.interventionId)">
                <i class="material-icons">close</i>
            </button></td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close </button>
</mat-dialog-actions>
